<a href="https://colab.research.google.com/github/Sanskriti2210/Python-programs/blob/main/python_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to read your name, contact number, email, and
birthdate and print those details on the screen.

In [ ]:
name = input("Enter your name: ")
contact_number = input("Enter your contact number: ")
email = input("Enter your email: ")
birthdate = input("Enter your birthdate (YYYY-MM-DD): ")

print("Name:", name)
print("Contact Number:", contact_number)
print("Email:", email)
print("Birthdate:", birthdate)

Enter your name: Prince
Enter your contact number: 9265926990
Enter your email: prince6124@gmail.com
Enter your birthdate (YYYY-MM-DD): 06-12-2005
Name: Prince
Contact Number: 9265926990
Email: prince6124@gmail.com
Birthdate: 06-12-2005

Write a program to convert celsius degree to fahrenheit

In [ ]:
#tempconversion.py
temp=input("Enter the temperature in degree celsius")
C=float(temp)
F=(9/5)*C+32
print("Temperature in fahrenheit is ",F)

Enter the temperature in degree celsius45
Temperature in fahrenheit is  113.0

Write a program to convert int into float
x=25

In [ ]:
x=25
x=float(x)
print(x)

25.0

Write a program to compute the slope of a line between two points (x1,y1 and x2,y2) slope=y2-y1/x2-x1

In [ ]:
x1=9
y1=7
x2=6
y2=5
slope=(y2-y1)/(x2-x1)
print("The slope of the line is :",slope)

The slope of the line is : 0.6666666666666666

Make a grading system using if-else loop
x=(25,50,75,85,90,99)

In [ ]:
marks=int(input("Enter the marks:"))
if(marks>=90):
  print("Grade A")
elif(marks>=80):
    print("Grade B")
elif(marks>=70):
  pass # Add the code to be executed here
  print("Grade C")
elif(marks>=60):
    print("Grade D")
else:
    print("Grade E")

Enter the marks:89
Grade B

Write a program to find simple interest

In [ ]:
p=float(input("Enter the principal amount:"))
r=float(input("Enter the rate of interest:"))
t=float(input("Enter the taken time:"))
si=(p*r*t)/100
print("The simple interest is:",si)

Enter the principal amount:800000
Enter the rate of interest:5
Enter the taken time:7
The simple interest is: 280000.0

Write a program to find compound interest

In [ ]:
p=float(input("Enter the principal amount:"))
r=float(input("Enter the rate of interest:"))
t=float(input("Enter the taken time:"))
ci=p*(1+r/100)**t
print("The compound interest is:",ci)

Enter the principal amount:78000
Enter the rate of interest:5
Enter the taken time:6
The compound interest is: 104527.45996875003

Write a program to get change values in Quarter, Dime,
Nickels and Pennies, and calculate the value of change in
Dollars.

In [ ]:
print("Change calculator:")
print("Enter the number of coins you have:")
quarters=float(input("Quarters:"))
dimes=float(input("Dimes:"))
nickels=float(input("Nickels:"))
pennies=float(input("Pennies:"))

# Calculate the total value of the change
total = quarters * 0.25 + dimes * 0.10 + nickels * 0.05 + pennies * 0.01

print("The total value of your change is ${}".format(total))

Change calculator:
Enter the number of coins you have:
Quarters:0.25
Dimes:0.10
Nickels:0.05
Pennies:0.01
The total value of your change is $0.07510000000000001

Write a program to find a maximum of given three numbers
(Use ternary operator).

In [ ]:
a=input("Enter the first no.:")
b=input("Enter the second no.:")
c=input("Enter the third no.:")

if(a>b and a>c):
  max=a
elif(b>a and b>c):
  max=b
else:
   max = c # Assign c to max if neither a nor b is the largest

print("The largest number is:", max)

Enter the first no.:89
Enter the second no.:
Enter the third no.:56
The largest number is: 89

Write a program to calculate area of Sphere.

In [ ]:
r=float(input("Enter the radius of the sphere:"))
area=4*3.14*r**2
print("Area of the sphere is:",area)

Enter the radius of the sphere:7.2
Area of the sphere is: 651.1104

Write a program to calculate volume of Sphere.

In [ ]:
r=float(input("Enter the radius of the sphere:"))
volume=(4/3)*3.14*r*r*r
print("Volume of the sphere is:",volume)

Enter the radius of the sphere:8.5
Volume of the sphere is: 2571.1366666666668

Write a program that calculates whether a given year is a leap year or not.

In [ ]:
year=int(input("Enter the year:"))

if (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter the year:2025
2025 is not a leap year

Write a program that computes the real roots of a given
quadratic equation (Use math library).

In [ ]:
import math
a=float(input("Enter the coefficient of x^2:"))
b=float(input("Enter the coefficient of x:"))
c=float(input("Enter the value of coefficient"))
d=b**2-4*a*c

print("The roots of the quadratic equation are:",d)

Enter the coefficient of x^2:1
Enter the coefficient of x:2
Enter the value of coefficient2
The roots of the quadratic equation are: -4.0

Write a program to determine the length of ladder required
to reach a given height when leaned against the house. The
height and the angle of the ladder are given as inputs (Use
math Library).

In [ ]:
height=int(input("Enter the height of the ladder:"))
angle=int(input("Enter the angle of the ladder:"))
import math
length=height/math.sin(math.radians(angle))
print("The length of the ladder is:",length)

Enter the height of the ladder:190
Enter the angle of the ladder:60
The length of the ladder is: 219.3931022920578

Write a program to input
the number of hours worked and hourly rate and calculate
the total wages for the week.

In [ ]:
hours=int(input("Enter the number of working hours:"))
rate=int(input("Enter the hourly rate:"))
wages=hours*rate*5
print("The total wages for the day = ",wages)

Enter the number of working hours:9
Enter the hourly rate:700
The total wages for the day =  31500

Write a program to get a person's weight (in
kgs) and height (in cms) and display a message whether the
person is healthy, underweight or overweight.

In [ ]:
# Get input for weight and height
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in centimeters: "))

# Calculate BMI
bmi = weight / ((height / 100) ** 2)

# Determine weight status
if bmi < 18.5:
    print("You are underweight.")
elif 18.5 <= bmi < 25:
    print("You are healthy.")
else:
    print("You are overweight.")

Enter your weight in kilograms: 70
Enter your height in centimeters: 154
You are overweight.

Write a program to read n numbers from users and calculate
the average of those n numbers.

In [ ]:
    num=int(input("Enter the n numbers which you want to find average of:"))
sum=0
for i in range(num):
  sum=sum+int(input("Enter the number :"))
  num=float(num)
  avg=sum/num
  print("The average of the number is:",avg)

Enter the n numbers which you want to find average of:3
Enter the number :45
The average of the number is: 15.0
Enter the number :56
The average of the number is: 33.666666666666664
Enter the number :78
The average of the number is: 59.666666666666664

Write a program that prompts the user to enter 10 integers
and displays all the combinations of picking two numbers
from the 10.

In [ ]:
num=int(input("Enter the number of integers:"))
for i in range(num):
  for j in range(num):
    print(i,j)

Enter the number of integers:5
0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

Write program to print pattern

In [ ]:
# Function to print full pyramid pattern
def full_pyramid(n):
    for i in range(1, n + 1):
        # Print leading spaces
        for j in range(n - i):
            print(" ", end="")

        # Print asterisks for the current row
        for k in range(1, 2*i):
            print("*", end="")
        print()

full_pyramid(5)

    *
   ***
  *****
 *******
*********

Write program to print pattern

In [ ]:
n=int(input("Enter the number of rows:"))
num=1
for i in range(0,n):
 num=1
 for j in range(0,i+1):
   print(num,end=" ")
   num=num+1
 print("\r")

Enter the number of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Write a program to sum the following series:
1/3+3/5+5/7+7/9+9/11+11/13

In [ ]:
def sum_series(n):
    total = 0
    for i in range(1, n+1, 2):
        total += i / (i+2)
    return total

print(sum_series(100)) # 6 because there are 6 terms in the series.

46.10464832285218

A positive integer is called a perfect number if it is equal to the sum of all of its positive divisors, excluding itself.For example, 6 is the first perfect number, because 6 = 3 + 2 + 1,the next is 28 = 14 + 7 + 4 + 2 + 1. There are four perfect numbers that are less than 10,000. Write a program to find
these four numbers.

In [ ]:
def is_perfect(n):

  sum_divisors = 0
  for i in range(1, n):
    if n % i == 0:
      sum_divisors += i
  return sum_divisors == n

count = 0
for i in range(2, 10001):
  if is_perfect(i):
    print(i)
    count += 1
    if count == 4:
      break

6
28
496
8128

Write a program to perform the below operations on the
list:

In [ ]:
list_1=[1,2,3,4,5,6,70,8,90,10]
list_2=[11,12,13,14,15,16,17,18,19,20]

#Creating a list
print(type(list_1))
print(type(list_2))

#Indexing of the list
print(list_1[5])
print(list_2[7])

#Slicing of the list
print(list_1[3:-5])
print(list_2[-4:-1])

#Adding elements to the list
list_1.append(11)
list_2.append(21)
print(list_1)
print(list_2)

#Removing elements from the list
list_1.remove(1)
list_2.remove(18)
print(list_1)
print(list_2)

#Get the number of elements in the list
print(len(list_1))
print(len(list_2))

#Access elements of the list using the index
print(list_1[5])
print(list_2[9])

#Sort the list
list_1.sort()
list_2.sort()
print(list_1)
print(list_2)

#Reverse a list
list_1.reverse()
list_2.reverse()
print(list_1)
print(list_2)

<class 'list'>
<class 'list'>
6
18
[4, 5]
[17, 18, 19]
[1, 2, 3, 4, 5, 6, 70, 8, 90, 10, 11]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
[2, 3, 4, 5, 6, 70, 8, 90, 10, 11]
[11, 12, 13, 14, 15, 16, 17, 19, 20, 21]
10
10
70
21
[2, 3, 4, 5, 6, 8, 10, 11, 70, 90]
[11, 12, 13, 14, 15, 16, 17, 19, 20, 21]
[90, 70, 11, 10, 8, 6, 5, 4, 3, 2]
[21, 20, 19, 17, 16, 15, 14, 13, 12, 11]

Write a program to read n numbers from a user and print:

In [ ]:
#Number of positive numbers
num=int(input("Enter the number of elements:"))
count=0
for i in range(num):
  n=int(input("Enter the number:"))
  if(n>0):
    count=count+1
print("The number of positive numbers is:",count)

#Number of negative numbers
num=int(input("Enter the number of elements:"))
count=0
for i in range(num):
  n=int(input("Enter the number:"))
  if(n<0):
    count=count+1
print("The number of negative numbers is:",count)

#Number of zero numbers
num=int(input("Enter the number of elements:"))
count=0
for i in range(num):
  n=int(input("Enter the number:"))
  if(n==0):
    count=count+1
print("The number of zero numbers is:",count)

Enter the number of elements:3
Enter the number:56
Enter the number:67
Enter the number:67
The number of positive numbers is: 3
Enter the number of elements:4
Enter the number:-9
Enter the number:-8
Enter the number:-7
Enter the number:8
The number of negative numbers is: 3
Enter the number of elements:5
Enter the number:90
Enter the number:09
Enter the number:78
Enter the number:0
Enter the number:76
1

In [2]:
n=5
for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [6]:
n=5
num=1
for i in range(0,n):
  num=1
  for j in range(0,i+1):
    print(num,end=" ")
    num=num+1
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5